<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Generacion Sol!</h2>
                <hr class="primary">
                <p>Somos la generación que creemos en nuestra capacidad, que estamos creando una nueva historia para seguir creciendo juntos.</p>
            </div>
            
        </div>
        <center><div class="text-center">
            <a href="https://www.bancosol.com.bo/">
                <i class="fa fa-sun-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!--<p>{{ site.twitter_username }}</p>-->
            </a>
        </div></center>
    </div>

</section>
